  <div style="margin-bottom: 20px">
      <div style="float: left;width: 50%"><img src="../../static/assets/img/logo1.png" height="86" alt=""></div>
      <div style="float: left;width: 50%">
          <h1 style="float: right">Beyond Inner</h1>
          <p>Información del presupuesto:312</p>
      </div>
  </div>
  <div>
      <h4>Información del Contacto <hr></h4>
  </div>
  <table class="table mb-0">
      <thead class="thead-light">
      <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
      </tr>
      </tbody>
  </table>
