.container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    height: 40.7rem;
    background-image: url('assets/tarjeta/tarjeta.png');
}

.member_name {
    /*margin-top: 6.3rem;*/
    margin-left: 32rem;
    font-size: 20px;
}

.member_number {
    /*margin-top: 50rem;*/
    margin-left: 32rem;
    font-size: 20px;
}
.c_nombre{
    width: 32%;
    text-align: left;
    float: right;
    color: white;

}
.c_num{
    width: 32%;
    text-align: left;
    float: right;
    margin-top: -3.5px;
    color: #006e6a;
}
footer {
    position: absolute;
    margin-top: 19rem;
    width: 100%;
    height: 2.5rem;
    color: #006e6a;
}
article {
    position: absolute;
    margin-top: 5rem;
}