<body>
<div class="container">
    <div style="height: 10px"></div>
    <article>
        <div>
            <p class="c_nombre" style="font-size: 14px">{{name}}</p>
        </div>
        <div>
            <p class="c_num" >{{number}}</p>
        </div>
    </article>

    <footer>
        <h1 style="text-align:center">"{{titulo}}"</h1>
    </footer>
</div>
</body>

